body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  position: relative;
  height: 65px;
  width: 100vw;
  background-color: #3f72af;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar_heading {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #F9F7F7;
}

.navbar_home {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
  color: #F9F7F7;
  font-size: 1.75rem;
  cursor: pointer;
}
